body {
  margin: 0;
  background-color: orange;
}

body p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

header {
  height: 100px;
  width: 100%;
  background-color: purple;
  font-family: 'Montez', cursive;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.logo {
  width: 400px;
  height: 100%;
  float: left;
}

.logo h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

.menu {
height: 100%;
width 400px;
float: right;
color: white;
}

.menu li{
  display: inline-block;
  padding: 0px 10px;
}

.menu ul{
  position: relative;
  top: 35px;
  margin: 0;
}

.menu a {
  color: black;
}

#entrance {
  height: 675px;
  width: 100%;
  background: url("../img/orange-tulips.jpg");
  font-family: 'Montez', cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}

.main-title {
  padding-top: 100px;
}

.main-title hr {
  width: 75%;
}

.entrance-button button {
  height: 45px;
  width: 100px;
  background-color: purple;
  border: 2px solid white;
  color: white;
  font-size: .3em;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
}

.entrance-button a {
  color: white;
}

.entrance-button button:hover{
background-color: orange;
border: 2px solid black;
color: black;
}

.about-me-container {
  height: 280px;
  width: 100%;
  background-color: green;
  padding: 0;
  margin: 0;
}

#about-me article {
  height: 75%;
  width: 30%;
  float: left;
  text-align: center;
  margin: 33px 20px;
  padding: 0;
  border-radius: 5px;
}

#about-me h3 {
  text-align: center;
  font-family: 'Montez', cursive;
  font-size: 32px;
  margin: 0;
}

#skills {

}

#skills img {
  height: 592px;
  width: 43%;
  float: left;
}

#skills h3 {
  font-family: 'Montez', cursive;
  text-align: center;
  font-size: 32px;
  margin: 0;
  color: black;
}

.skills-info {
  height: 482px;
  width: 42.3%;
  float:left;
  text-align: center;
  padding: 55px 105px;
  margin: 0;
  background-color: purple;
}

.skill-1 {
  height: 156px;
  width: 250px;
  text-align: center;
  float: left;
  padding: 15px 25px;
}

.skill-2 {
  height: 156px;
  width: 250px;
  text-align: center;
  float: left;
  padding: 15px 25px;
}

.skill-3 {
  height: 156px;
  width: 250px;
  text-align: center;
  float: left;
  padding: 15px 25px;
}

.skill-4 {
  height: 156px;
  width: 250px;
  text-align: center;
  float: left;
  padding: 15px 25px;
}

.resume-container {
  height: 300px;
  width: 100%;
  text-align: center;
  float: left;
  background-color: green;
}

.resume-container h3 {
  font-family: 'Montez', cursive;
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.resume-container p {
  width: 800px;
  text-align: center;
  margin: 20px 325px;
}

.contact-me-link button {
  height: 45px;
  width: 100px;
  background-color: purple;
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8em;
}

.contact-me-link a {
  color: white;
}

.contact-me-link button:hover{
background-color: orange;
border: 2px solid black;
color: black;
}

#testimonial {
  height: 200px;
  width: 100%;
  float: left;
}

.testimonial-container {
  height: 200px;
  width: 100%;
  text-align: center;
  float: left;
  background-color: orange;
  margin: 0;
}

.testimonial-container h3 {
  font-family: 'Montez', cursive;
  text-align: center;
  font-size: 25px;
  margin: 0;
}

.testimonial-container p {
  width: 800px;
  margin: 20px 325px;
}

#portfolio {
  height: 1150px;
  width: 100%;
  float: left;
}

.portfolio-container {
  height: 1150px;
  width: 100%;
  float: left;
  text-align: center;
  margin: 0;
  background-color: green;
}

.portfolio-container h3 {
  font-family: 'Montez', cursive;
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.portfolio-container p {
  text-align: center;
  width: 800px;
  margin: 20px 325px;
}

.portfolio-container img {
  height: 300px;
  width: 400px;
  float: left;
  margin: 15px 35px;
  border-radius: 5px;
}

.contact-info {
  height: 300px;
  width: 500px;
  background-color: purple;
  padding: 30px;
  border-radius: 5px;
  margin: 0 75px;
  float: left;
}

.contact-info p {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.contact-info h4 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}

#contact-me {
  width: 100%;
  padding: 25px 0;
  display: inline-block;
  background-color: orange;
  font-family: 'Open Sans Condensed', sans-serif;
}

#contact-me h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Montez', cursive;
  margin-top: 0;

}

.form-box {
  height: 300px;
  width: 500px;
  background-color: purple;
  padding: 30px;
  border-radius: 5px;
  margin: 0 75px;
  float: left;
}

#contact-me input {
  height: 40px;
  width: 100%;
  margin: 10px 0;
}

#contact-me textarea {
  height: 125px;
  width: 100%;
  margin: 10px 0;
}

#contact-me button {
  height: 37px;
  width: 100px;
  background-color: green;
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}

#contact-me button:hover{
background-color: orange;
border: 2px solid black;
color: black;
}

footer {
  height: 200px;
  width: 100%;
  background-color: green;
  clear: both;
}

.copyright p {
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-family: 'Montez', cursive;
  font-size: 1.2em;
}

.sm-icons {
  width: 180px;
  height: 50px;
  background-color: #purple;
  margin: 0 auto;
}

.icon {
  height: 50px;
  width: 50px;
  background-color: purple;
  float: left;
  margin: 0 5px;
  border-radius: 100%;
}

.icon i {
  font-size: 2em;
  color: #333;
  padding: 10px;
}
